[Unit]
Description=Plant Monitor
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes

WorkingDirectory=/home/basil/plant-sensor-monitor

ExecStart=/usr/bin/docker compose -f server/docker/docker-compose.pi.yml up -d
ExecStop=/usr/bin/docker compose -f server/docker/docker-compose.pi.yml down

TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
